<%- include('header') -%>
  <div class="home" id="home">
      <canvas id="canvas" class="game-window"></canvas>
  </div>
  <script type="text/javascript">
    const game = new WebSocket('wss://militiaio.onrender.com/');
    var canvas = document.getElementById('canvas');
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
  </script>
  <%- include('footer') -%>