<%- include('header') -%>
  <div class="game-home" style="backgound-color: white;">
      <canvas id="canvas" class="game-window"></canvas
  </div>

  
  <script type="text/javascript">
const game = new WebSocket('wss://militiaio.onrender.com/game');
var canvas = document.getElementById('canvas');
canvas.width = window.innerWidth;
canvas.height = window.innerHeight;
var ctx = canvas.getContext('2d');
ctx.font = "15px Arial";


function drawGrid(size) {
  
};


class Player{
  constructor (name){
    this.name = name;
    this.color = "<%=color%>";
    this.radius = 15;
    this.x = canvas.width/2;
    this.y = canvas.height/2;
    this.Xvel = 0;
    this.Yvel = 0;
    this.offset = ctx.measureText(name);
    this.offsetHeight = this.offset.actualBoundingBoxAscent + this.offset.actualBoundingBoxDescent;
  };
  show (){
    ctx.beginPath();
    ctx.arc(this.x+this.offset.width/2, this.y-this.offsetHeight-this.radius, this.radius, 0, 2 * Math.PI);
    ctx.fillStyle = this.color;
    ctx.fill();
    ctx.fillStyle = "black";
    ctx.fillText(this.name, this.x, this.y);
  };
  update (){
    this.x = this.Xvel + this.x;
    this.y = this.Yvel + this.y;
    this.show();
  };
  updateOnline (){
game.send(this.name+";"+";"+this.x+";"+this.y+";"+this.color+";");
  };
};


var player = new Player("<%=name%>");
game.addEventListener("open", e => {
  player.show();
  drawGrid(30);
  loop();
});
function loop() {
  ctx.clearRect(0, 0, canvas.width, canvas.height);
  player.update();
  requestAnimationFrame(loop);
};

var velChange = 1;

document.addEventListener("keydown", event => {
  if (event.code === "KeyW" || event.code === "ArrowUp"){
    player.Yvel = -velChange;
  };
  if (event.code === "KeyS" || event.code === "ArrowDown"){
    player.Yvel = velChange;
  };
  if (event.code === "KeyA" || event.code === "ArrowLeft"){
    player.Xvel = -velChange;
  };
  if (event.code === "KeyD" || event.code === "ArrowRight"){
    player.Xvel = velChange;
  };
});
document.addEventListener("keyup", event => {
  if (event.code === "KeyW" || event.code === "ArrowUp"){
    player.Yvel = 0;
  };
  if (event.code === "KeyS" || event.code === "ArrowDown"){
    player.Yvel = 0;
  };
  if (event.code === "KeyA" || event.code === "ArrowLeft"){
    player.Xvel = 0;
  };
  if (event.code === "KeyD" || event.code === "ArrowRight"){
    player.Xvel = 0;
  };
});
    </script>
  <%- include('footer') -%>

