<%- include('header'); -%>
  <div class="home">
    <div class="first-window" id="chat">
      <h1 class="title">Chat</h1>
      <div class="input-group mb-3 name" id="chat-div">
  <input type="text" class="form-control" placeholder="Connecting..." aria-label="Message" aria-describedby="button-addon2" id="mes" disabled maxlength="45">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="sendms()">Send</button>
</div>
<span id="blah"></span>
    </div>
    <div class="main-window">
    <h1 class="title">Militia.io</h1>
      <form class="form-group" action="/game" method="post">
      <h5 class="name">Name: </h5>
      <input class="name form-control" placeholder="Name" name="name" type="text" required/>
        <select class="form-select" name="mode" id="mode" required onchange="player2Func()">
          <option value="online" selected>Online Multiplayer</option>
          <option value="local">Local 2 Player</option>
        </select>
        <h5 class="name">Player 2 Name: </h5>
      <input class="name form-control" value="Player 2 Name" name="name2" id="player2Input" type="text" disabled/>
        <button type="submit" class="btn btn-outline-dark button">Play</button>
        </form>
      <div>
        <!--This part is coming later-->
      </div>
    </div>
    <div class="login-window">
    <h1 class="title">Login/Register</h1>
      <form class="form-group" action="/login" method="post">
      <h5 class="name">Username: </h5>
      <input class="name form-control" placeholder="Username" name="username" type="text" max="15"/>
      <h5 class="name">Password: </h5>
        <input class="name form-control" placeholder="Password" name="password" type="password"/>
        <button type="submit" class="btn btn-outline-secondary button" style="display: inline; float: left;">Login</button>
        </form>
      <button type="button" class="btn btn-link" style="display: inline; float: right; margin-right: 10%;" onclick="location.href='/register'">Register</button>
    </div>
  </div>
  <script>
    const chatNameExtension = new Date();
    document.cookie = chatNameExtension.getMilliseconds();
    const socket = new WebSocket('wss://militiaio.onrender.com/chat');
  socket.addEventListener('open', event => {
    document.getElementById("mes").disabled = false;
    document.getElementById("mes").placeholder = "Chat";
  console.log('WebSocket connection established');
  });
let mode = document.getElementById('mode');
let player2 = document.getElementById('player2Input')
function player2Func() {
  if (mode.value === 'local'){
    player2.disabled = false;
    player2.value = '';
  } else {
    player2.disabled = true;
    player2.value = 'Player 2 Name';
  }
}
    
socket.addEventListener('message', event => {
  if (event.data !== '' && event.data.split(';')[9] !== 'type:gameMessage'){
  const messageDiv = document.createElement("p");
  messageDiv.innerText = event.data;
  messageDiv.className = "message";
  document.getElementById('chat').insertBefore(messageDiv, document.getElementById('blah'));
  if (document.getElementsByClassName('message').length >= 11){
  document.getElementsByClassName('message')[0].remove();
  };
  };
});
document.addEventListener('keypress', event => {
  if (event.code === "Enter"){
  sendms();
  };
});
socket.addEventListener('close', event => {
  console.log('WebSocket connection closed');
  document.getElementById("mes").placeholder = "Connection closed";
  document.getElementById("mes").disabled = true;
});

socket.addEventListener('error', error => {
  console.error(error);
  document.getElementById("mes").placeholder = "Error";
  document.getElementById("mes").disabled = true;
});
  function sendms(){
  if (document.getElementById('mes').value !== ""){
  socket.send("Guest" + document.cookie + ": " + document.getElementById('mes').value);
  document.getElementById('mes').value = "";
  };
  };
  </script>
<%- include('footer'); -%>