<%- include('header'); -%>
  <div class="home">
    <div class="register-window">
    <h1 class="title">Register</h1>
      <form class="form-group" action="/register" method="post">
      <h5 class="name">Username: </h5>
      <input class="name form-control" placeholder="Username" name="username" type="text"/>
      <h5 class="name">Create Password: </h5>
        <input class="name form-control" placeholder="Password" name="password" type="password"/>
        <button type="submit" class="btn btn-outline-secondary button" style="display: inline; float: left;">Register</button>
        </form>
    </div>
  </div>
<%- include('footer'); -%>